
<style>
  .list-icon {
    width: 300px;
  }
  .edit-button {
    margin-left: 20px;
  }
  .calendar {
    margin-right: 20px;
  }
  .my-checkbox {
    margin-right: 15px;
  }
</style>
<tbody>

<ul class="mdl-list task_list">
  <% tasks.each do |task| %>
      <li class="mdl-list__item mdl-list__item--three-line">
        <span class="mdl-list__item-primary-action">
          <% c = task.completed %>
          <% if c %>
              <%= link_to complete_task_path(task), remote: true do %>
                  <button class="mdl-button mdl-js-button edit-button mdl-button--fab mdl-js-ripple-effect my-checkbox mdl-color--green-100">
                    <i class="material-icons">check_circle</i>
                  </button>
              <% end %>
          <% else %>
              <%= link_to complete_task_path(task), remote: true do %>
                  <button class="mdl-button mdl-js-button edit-button mdl-button--fab mdl-js-ripple-effect my-checkbox mdl-color--red-100">
                    <i class="material-icons">query_builder</i>
                  </button>
              <% end %>
          <% end %>

        </span>
        <span class="mdl-list__item-primary-content">
          <%= task.title %>
          <span class="mdl-list__item-text-body mdl-color-text--grey-500">
            <%= task.note %>
          </span>
        </span>
        <td class="mdl-list__item-secondary-content">
          <% if task.due != "" && task.due != nil%>
              <i class="material-icons calendar">event</i>
              <%= task.due %>
          <% end %>
        </td>
        <td class="mdl-list__item-secondary-action">
          <%= link_to edit_task_path(task), remote: true do %>
              <button class="mdl-button mdl-js-button edit-button mdl-button--fab mdl-js-ripple-effect">
                <i class="material-icons">mode_edit</i>
              </button>
          <% end %>

          <%= link_to task_path(task), remote: true, method: :delete, data: {confirm: "Are you sure you want to delete task #{task.title}?"} do %>
              <button class="mdl-button mdl-js-button edit-button mdl-button--fab mdl-js-ripple-effect">
                <i class="material-icons">delete</i>
              </button>
          <% end %>
        </td>
      </li>

  <% end %>
</ul>
</tbody>